body {
  padding: 40px;
  background:
    linear-gradient(
      rgba(0,0,0,0.4),
      rgba(0,0,0,0.4)
    ),
    url("Fotos_Index/fondo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page-reg {
  width: 100%;
  max-width: 420px;
  min-height: 420px;
  padding: 20px;
  margin: auto;
  margin-top: calc(40vh - 210px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25);
}

.register-box {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.register-box h2 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: #333;
}

.register-box p {
  margin-bottom: 30px;
  color: #666;
}

.register-box input {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
}

.register-box input:focus {
  outline: none;
  border-color: #4f46e5;
}

.register-box button {
  width: 50%;
  padding: 14px;

  background: linear-gradient(135deg, #4f46e5, #6366f1);
  color: white;

  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  cursor: pointer;

  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.4);
  transition: all 0.3s ease;
}

/* Hover */
.register-box button:hover {
  transform: translateY(-4px) scale(1.03);
  box-shadow: 0 18px 30px rgba(79, 70, 229, 0.6);
}

/* Click */
.register-box button:active {
  transform: translateY(1px) scale(0.98);
  box-shadow: 0 5px 10px rgba(79, 70, 229, 0.4);
}
